<div id="<%= dom_id hilti_import %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= hilti_import.project_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= hilti_import.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Processed:</strong>
    <%= hilti_import.processed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sent at:</strong>
    <%= hilti_import.sent_at %>
  </p>
</div>
