<div id="<%= dom_id hilti_import %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= hilti_import.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Processed:</strong>
    <%= hilti_import.processed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sent at:</strong>
    <%= hilti_import.sent_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Archive:</strong>
    <%= link_to hilti_import.archive.filename, hilti_import.archive if hilti_import.archive.attached? %>
  </p>

</div>
