<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @hilti_import %>

    <div>
      <h1>FloorPlans</h1>
      <table>
        <tr>
          <th>Reference</th>
          <th>Drawing Id</th>
          <th>Asset Id</th>
          <th>Preview</th>
          <th></th>
        </tr>
        <tbody>
        <% @hilti_import.floor_plans.each do |floor_plan| %>
        <tr>
          <td><%= link_to floor_plan.reference, floor_plan_path(floor_plan) %></td>
          <td><%= floor_plan.clarinspect_drawing_id %></td>
          <td><%= floor_plan.clarinspect_asset_id %></td>
          <td>
            <% if floor_plan.data.representable? %>
              <%= image_tag floor_plan.data.representation(resize_to_limit: [200,200]) %>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit this floor plan", edit_floor_plan_path(floor_plan), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h1>Projects</h1>
      <ul>
        <% @hilti_import.hilti_projects.each do |project| %>
          <li><%= link_to project.label, project, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to "Back to import project", @hilti_import.import_project, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this hilti import", @hilti_import, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <pre>
    <%= @hilti_import.projects %>
  </pre>
  </div>
</div>
