<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @import_project %>


    <strong>Hilit Imports</strong>
    <table class="mb-5">
      <tbody>
        <% @import_project.hilti_imports.each do |hilti_import| %>
        <tr>
          <td><%= link_to hilti_import.label, hilti_import_path(hilti_import) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Load Hilti Import Zip File", new_hilti_import_path(import_project_id: @import_project.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

    <%= link_to "Edit this import project", edit_import_project_path(@import_project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to import projects", import_projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this import project", @import_project, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>