<div id="<%= dom_id hilti_project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Hilti import:</strong>
    <%= hilti_project.hilti_import_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project Id:</strong>
    <%= hilti_project.reference %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category Id:</strong>
    <%= hilti_project.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category Name:</strong>
    <%= hilti_project.category_name %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hilti_project.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= hilti_project.address %>
  </p>

  <div class="my-5">
    <strong class="block font-medium mb-1">Products:</strong>
    <ul>
      <% hilti_project.products.each do |product| %>
        <li class="py-2"><%= product %></li>
      <% end %>
    </ul>
  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Approvals:</strong>
    <%= hilti_project.approvals %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Floor plans:</strong>
    <%= hilti_project.floor_plans %>
  </p>

  <div class="my-5">
    <h1 class="block text-lg font-medium p-2 bg-gray-100 border rounded-t-lg">Fields</h1>
    <ul class="border-x border-b rounded-b-lg pt-3 px-3">
      <% hilti_project.fields.each do |field| %>
        <li class="block mb-4">
          <h2><%= field["name"] %> (<%= field["id"] %>)</h2>
          <h3 class="text-xs p-2">Type: <%= field["type"] %></h3>
          <div class="text-xs p-2 flex flex-wrap gap-1">
            <% Array(field["values"]).each do |value| %>
              <div class="border rounded-md bg-gray-100"><%= value["value"] %></div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Configuration:</strong>
    <%= hilti_project.configuration %>
  </p>

</div>
