<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @hilti_project %>

    <pre>
      <%= @hilti_project.configuration.pretty_inspect %>
    </pre>

    <h1>Inspections</h1>
    <table>
      <tbody>
      <% @hilti_project.inspections.each do |inspection| %>
      <tr>
        <td><%= link_to inspection.clarinspect_id, inspection_path(inspection) %></td>
        <td><%= inspection.reference %></td>
        <td><%= inspection.number %></td>
      </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to "Edit this hilti project", edit_hilti_project_path(@hilti_project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to import", @hilti_project.hilti_import, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this hilti project", @hilti_project, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
