<div id="<%= dom_id floor_plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Reference</strong>
    <%= floor_plan.reference %>
  </p>

  <% if floor_plan.data.representable? %>
    <%= image_tag floor_plan.data.representation(resize_to_limit: [800,800]) %>
    <%= link_to('Download PDF', url_for(floor_plan.data), target: '_blank') %>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Clarinspect drawing:</strong>
    <%= floor_plan.clarinspect_drawing_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Clarinspect asset:</strong>
    <%= floor_plan.clarinspect_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Page Specification:</strong>
    <%= floor_plan.page_metadata %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Metadata:</strong>
    <%= floor_plan.metadata %>
  </p>

</div>
