<div id="<%= dom_id inspection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Clarinspect:</strong>
    <%= inspection.clarinspect_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference:</strong>
    <%= inspection.reference %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= inspection.project_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= inspection.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Marker:</strong>
    <%= inspection.marker %>
  </p>

</div>
